#navbar{
    display: none;
}

#main_content{
    flex-wrap: wrap;
    justify-content: center;
}

.main_left{
    width: 29%;
}

.main_mid{
    width: 67%;
}

.main_right{
    width: 100%;
    display: flex;
}

.news_sec{
    flex-wrap: wrap;
}

.news_col_right {
    width: 100%;
}

.news_col_left {
    width: 100%;
}

.watch_card{
    min-width: 30%;
}
