@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

    /* Hero Section */

                    /* Top Section */

header{

    border-bottom: 1px solid rgb(230, 232, 234);
}

#hero_section{
    background: white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

#hero-main{
    width: 90%;
    margin: auto;
    display: flex;
    height: 3rem;
    padding: 0.5rem;
}

.bbc_img_con{
    width: 30%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bbc-img{
    min-width: 98px;
    width: 7%;
}

.icons{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1.8rem;
}

.icons i{
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600    
}

.icons i:nth-child(2){
    font-size: 1.3rem;
    font-weight: 500    
}

.btn-con{
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn-con button{
    width: 6rem;
    height: 2.4rem;
    background: black;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border: none;
    transition: 0.2s;
}

.btn-con button:hover{
    background: rgb(63, 63, 63);
    cursor: pointer
}

.btn-con button:nth-child(2){
    width: 5rem;
    background: white;
    color: black;
    transition: 0.1s;
    margin-left: 5px;
}

.btn-con button:nth-child(2):hover{
    background: black;
    color: white;
}

                    /* navbar section */

#navbar{
    font-family: "BBC Reith Sans", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    border-bottom: 1px solid rgb(230, 232, 234);
}

.nav-items{
    display: flex;
    justify-content: center;
    margin: 0;
}

.nav-items li{
    list-style: none;
    padding: 14px 10px;
    cursor: pointer;
}

.nav-items li:hover{
    background-color: #5454541c;
}

.nav-items li a{
    text-decoration: none;
    color: black;
}

/* main-content section */

#main_content{
    max-width: 1280px;
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

                    /* main_left  */

.main_left{
    width: 25%;
    height: 100%;
}

.article{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.article h3{
    margin: 10px 0px;
    margin-top: 0px;
    font-family: "Gowun Batang", serif;
    font-weight: 700;
}

.article p{
    color: rgb(67, 68, 70);
    font-size: 15px;
}

/* .main_left_container{
    width: 100%;
    height: 100%;
} */

.main_left_imgDiv img{
    width: 100%;
    object-fit: contain; 
}

.time_city p{
    margin: 8px 0px;
}

.time_city p span{
    font-family: "BBC Reith Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: rgb(126, 126, 126);
}
                    /* main_mid */
.main_mid{
    width: 50%;
}

.main_mid_sec_1{
    width: 100%;
    height: auto;
}

.main_mid_sec_1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.main_mid_sec_2{
    width: 100%;
}

.main_mid_sec_2 h1{
    font-family: "Gowun Batang", serif;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: left;
    line-height: 2rem;
}

.main_mid_sec_2 p{
    margin: -8px 0px;
}

.main_mid_sec_3 ul{
    margin: 2rem 0px;
    margin-top: 4rem;
}

.main_mid_sec_3 ul li:nth-child(2){
    margin: 1.2rem 0px;
}

.main_mid_sec_3 ul li a{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.main_mid_sec_3 ul li a:hover{
    text-decoration: underline;
}
                    /* main_right  */

.main_right{
    width: 25%;
}

.main_right_child{
    border-bottom: 1px solid rgb(228, 228, 228);
    margin-bottom: 1rem;
}

.main_right_child h3{
    font-family: "Gowun Batang", serif;
    margin: 10px 0px;
    margin-top: -5px;
}

.main_right_child p{
    color: rgb(70, 68, 67);
    margin: 12px 0px;
    margin-top: 4px;
    font-size: 15px;
}

/* Weekend reads section */

.weekend_reads{
    max-width: 1280px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 90%;
    margin: auto;
    padding-top : 4.5rem;
    padding-bottom : 2.5rem;
    display: flex;
    gap: 1rem;
    position: relative;
}

.weekend_reads h1{
    font-family: "Gowun Batang", serif;
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
}

.weekend_reads_artical{
    width: 50%;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.weekend_reads_artical h3{
    font-weight: 400;
}

.weekend_reads_artical p{
    font-size: 0.9rem;
}

.weekend_reads_artical img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Sport section  */

.sport_main{
    max-width: 1280px;
    width: 90%;
    margin: auto;
    display: flex;
    padding-top : 4.5rem;
    padding-bottom : 2.5rem;
    display: flex;
    gap: 1rem;
    position: relative;
}

.sport_card_container{
    display: flex;
    gap: 1rem;
}

.sport_card{
    width: 33.33%;
}

.sport_card h3{
    font-weight: 400;
}

.sport_card p{
    font-size: 0.9rem;
}

.sport_main h1{
    font-family: "Gowun Batang", serif;
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
}

.sport_card img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Arts Section  */

.arts_main{
    max-width: 1280px;
    border-top: 2px solid white;
    font-family: "Gowun Batang", serif;
    color: white;
    width: 90%;
    margin: auto;
    display: flex;
    padding-top : 4.5rem;
    padding-bottom : 2.5rem;
    display: flex;
    gap: 1rem;
    position: relative;
}

.arts_main h1{
    font-size: 1.4rem;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
}

.art_card_container{
    display: flex;
    gap: 1rem;
}

.arts_img{
    width: 70%;
}

.arts_img img{
    width: 100%;
    height: auto;
    object-fit: contain;
}

.arts_text_wrapper{
    /* border: 2px solid yellow; */
    width: 30%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arts_text_wrapper h2{
    margin: 2px 0px;
    font-size: 28px;
}
.arts_text_wrapper p{
    margin: 4px 0px;
    margin-bottom: 20px;
    font-size: 15px;
}

.arts_text_wrapper button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    width: 100px;
    height: 38px;
    background-color: black;
    color: white;
    border: 2px solid white;
}

.arts_text_wrapper button:hover{
    cursor: pointer;
    color: black;
    background-color: rgb(218, 218, 218);
    border: none;
}

/* News Section  */

.news_sec{
    max-width: 1280px;
    width: 90%;
    margin: 3rem auto;
    padding-top: 4rem;
    display: flex;
    gap: 1.5rem;
    border-top: 2px solid black;
    position: relative;
}

.more_news{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8px;
    font-size: 1.3rem;
}

.news_sec h1,h2,h3{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
}

.news_sec p{
    color: rgb(61, 61, 61);
}

/* news_col_left  */

.news_col_left{
    width: 75%;
}

/* news_col_left_row_one */

.news_col_left_row_one{
    width: 100%;
    display: flex;
    gap: 1rem;
}   

.news_col_left_row_one div:nth-child(1){
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 35%;
}

.news_col_left_row_one div:nth-child(1) h2{
    margin-top: 0;
}

.news_col_left_row_one div:nth-child(2){
    width: 65%;
}

.news_col_left_row_one div:nth-child(2) img{
    width: 100%;
    object-fit: contain;
}

/* news_col_left_row_two */

.news_col_left_row_two{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
}

.news_card{
    width: 25%;
}

.news_card h3{
    margin-top: 6px;
    font-weight: 400;
}

.news_card img{
    width: 100%;
    object-fit: contain;
}

/* news_col_right  */

.news_col_right{
    width: 25%;
}

/* news_col_right top  */

.news_col_right_top{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.news_col_right_top h3{
    margin-top: 1px;
    margin-bottom: -2px;
    font-weight: 400;
}

.news_col_right_img img{
    width: 100%;
    object-fit: contain; 
}

/* news_col_right bottom  */

.news_col_right_bottom{
    margin: 1.8rem 0px;
}

.news_col_right_bottom h3{
    font-weight: 400;
} 

/* watch section  */

.must_watch{
    max-width: 1280px;
    border-top: 2px solid white;
    width: 90%;
    margin: auto;
    padding-top: 4rem;
    position: relative;
    color: white;
}

.watch_heading{
    font-family: "Gowun Batang", serif;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8px;
    font-size: 1.2rem;
    font-weight: bolder;
}

.scroll_icons{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin-top: 6px;
    font-size: 2rem;
}

.watch_card_container{
    display: flex;
    gap: 1rem;
    overflow: hidden;
}

.watch_card{
    width: 25%;
    min-width: 25%;
}

.watch_card h3{
    margin-top: 4px;
}

.watch_card img{
    width: 100%;
    object-fit: contain;
}

.must_watch h3,p{
    font-family: "Gowun Batang", serif;
    font-weight: 700;
}

.must_watch p{
    font-weight: 200;
}

/* Culture + Health Sections  */

.culture{
    max-width: 1280px;
    font-family: "Gowun Batang", serif;
    border-top: 2px solid black;
    padding-top: 3.5rem;
    width: 90%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.cul_heading{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 4px;
    font-size: 1.2rem;
    font-weight: 700;
}

.cul_img{
    width: 70%;
    margin: 0;
    padding: 0;
}

.cul_img img{
    width: 100%;
    object-fit: contain;
}

.cul_desc{
    width: 30%;
}

.cul_txt h1{
    font-size: 2rem;
    margin-bottom: 4px;
    line-height: 2.4rem;
}

.cul_txt p{
    margin-top: 8px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.8);
}

.cul_btn{
    width: 98px;
    height: 35px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
    cursor: pointer;
}

.cul_btn:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: 2px solid rgba(0, 0, 0, 0.8);
}

/* poadcast + election Sections  */

.featured{
    font-family: "Gowun Batang", serif;
    max-width: 1280px;
    width: 90%;
    font-size: 13px;
    margin: auto;
    padding-top: 3.5rem;
    display: flex;
    gap: 1rem;
    position: relative;
    border-top: 2px solid black;
}

.featured_heading{
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 900;
    margin-top: 5px;
}

.featured_card{
    width: 50%;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.featured_card h1{
    margin-top: 4px;
}

.featured_card p{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.8);
}

.featured_card img{
    width: 100%;
    object-fit: contain;
}

/* Short Heading Section  */

.short_h_section{
    max-width: 1280px;
    width: 90%;
    margin: auto;
    padding: 5px 0px;
    display: flex;
    gap: 1.5rem;
}

                            /* short_col_one */

.short_col{
    width: 25%;
    border-top: 2px solid black;
}

.short_col_one_top h1{
    font-family: "Roboto Slab", serif;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 1.8rem 0px;
    margin-top: 1rem;
}

.short_col_one_top h3{
    margin-bottom: 5px;
    line-height: 1.6rem;
    font-weight: 400;
    font-size: 1.1rem;
}

.short_col_one_top div{
    border-bottom: 1px solid rgb(228, 228, 228);
}

.short_col_one_bottom{
    border-bottom: 1px solid rgb(228, 228, 228);
    padding-bottom: 6px;
}

.short_col_one_bottom img{
    width: 100%;
    object-fit: contain;
}

.short_col_one_bottom h2{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
}

.short_col_one_bottom p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8);
}


/* NewsLetters Section  */

.news_letter{
    max-width: 1280px;
    width: 90%;
    margin: 3rem auto;
    padding-top: 4rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: relative;
    border-top: 2px solid black;
}

.news_letter h1{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    font-weight: 500;
    font-size: 1.2rem;
}

.news_letter h1,h3{
    font-family: "Roboto Slab", serif;
}

.news_letter_card{
    width: 25%;
}

.news_letter_card h3{
    margin-top: 5px;
    font-weight: 400;
}

.news_letter_card p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.8)
}

.news_letter_card img{
    width: 100%;
    object-fit: contain;
}

/* Footer Section  */

.bbc-footer {
    width: 90%;
    margin: 3rem auto;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    border-top: 1px solid black;
  }
  
  .footer-content {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .footer_top img{
    min-width: 12%;
    width: 10%;
  }
  
  .footer-links, .footer-info {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer-links li, .footer-info li {
    margin-right: 1rem;
    line-height: 2rem;
  }

  .footer-links a{
    font-weight: 500;
  }
  
  .footer-links a, .footer-info a {
    color: black;
    text-decoration: none;
    font-size: 14px;
  }
  
  .footer-links a:hover, .footer-info a:hover {
    text-decoration: underline;
  }

.social_main{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    /* border: 2px solid red; */
}

.social_main h2{
    color: black;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 2rem;
    font-family: "Roboto Slab", serif;
}

.social_icons{
    font-size: 1.2rem;
    color: black;
}

.social_icons i{
    margin: 0px 8px;
}

  .lang_btn button{
    background-color: rgb(221, 221, 221);
    border: none;
    padding: 10px 9px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .lang_btn button:hover{
    background-color: rgb(210, 212, 214);
  }

  .footer-bottom {
    margin-top: 15px;
    text-align: left;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
  }

  .footer-info li:nth-child(1){
    margin-left: 0;
  }
  
  .footer-bottom p {
    margin: 0;
  }
  

  #side_menu{
    display: none;
    width: 320px;
    height: 600px;
    background-color: aqua;
    position: absolute;
    top:57%;
    left: 0;
  }